html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url(./images/Searchs_130.jpg) no-repeat center center fixed;
  /* background-color: black; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: 1.5;
  font-size: 13px;
}
p {
  color: green;
}
ul {
  list-style: none;
}

form {
  outline: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form > .textbox {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  outline: 0 16px;
  height: 50px;
  width: 250px;
  line-height: 42px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #fff;
}

form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form > .button:hover,
form > .button:hover {
  background-color: rgba(102, 223, 22, 0.8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainbow {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  color: rgb(11, 170, 243);
}

.loadMoreBtn {
  display: block;
  text-align: center;
}

/* ----- Button ----- */

.btn {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 180px;
  border: none;
  border-radius: 4px;

  background-color: #00ad5f;
}

.btn:hover,
.btn:focus {
  border: none;
  background-color: rgba(102, 223, 22);
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* ----- Gallery ----- */

.gallery {
  display: grid;
  /* width: 1200px; */
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  /* grid-auto-rows: 240px; */
  grid-gap: 20px;
  padding: 0px 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-card {
  position: relative;
  height: 320px;
}

.stats {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
}
